{% load static %}
<!DOCTYPE html>
<!-- Website - www.codingnepalweb.com -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="{% static 'css/admin.css' %}" />
    <link href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <div class="sidebar">
      <div class="logo-details"> 
        <i class="bx bx-user"></i> 
        <span class="logo_name">Naachiyar</span>
      </div>    
      <ul class="nav-links">
        <li>
          <a href="" class="active">
            <i class="bx bx-grid-alt"></i>
            <span class="links_name">Dashboard</span>
          </a>
        </li>
        <li>
          <a href="/">
            <i class="bx bx-home"></i>
            <span class="links_name">Home</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="bx bx-id-card"></i>
            <span class="links_name">Attendance</span>
          </a>
        </li>
        <li>
          <a href="/worker">
            <i class="bx bx-group"></i>
            <span class="links_name">Workers</span>
          </a>
        </li>
        
        <li>
          <a href="/project">
            <i class="bx bx-task"></i>
            <span class="links_name">Projects</span>
          </a>
        </li>
        <li>
          <a href="/hiering">
            <i class="bx bx-user-plus"></i>
            <span class="links_name">Hiering</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="bx bx-cart"></i>
            <span class="links_name">Stocks</span>
          </a>
        </li>
        <li>
          <a href="/adminquote">
            <i class="bx bx-message-rounded-detail"></i>
            <span class="links_name">Quote</span>
          </a>
        </li>
        
        <li>
          <a href="/adminfeedback">
            <i class="bx bx-message"></i>
            <span class="links_name">Feedback</span>
          </a>
        </li>
        
        <li>
          <a href="#">
            <i class="bx bx-palette"></i>
            <span class="links_name">Design</span>
          </a>
        </li>
        <li id="darkModeToggleBtn">
          <a href="#">
              <i class="bx bx-moon"></i>
              <span class="links_name">Dark Mode</span>
          </a>
      </li>
        <li class="log_out">
          <a href="#">
            <i class="bx bx-log-out"></i>
            <span class="links_name">Log out</span>
          </a>
        </li>
      </ul>
    </div>
    <section class="home-section">
      <nav>
        <div class="sidebar-button">
          <i class="bx bx-menu sidebarBtn"></i>
          <span class="dashboard">Dashboard</span>
        </div>
        <div class="search-box">
          <input type="text" placeholder="Search..." />
          <i class="bx bx-search"></i>
        </div>
        <div class="profile-details">
          <img src="{% static 'images\profile.jpg' %}" />
          <span class="admin_name">Md Ashfaq </span>
          
        </div>
      </nav>

      <div class="home-content">
        <div class="overview-boxes">
          <div class="box">
            <div class="right-side">
              <div class="box-topic">All Projects</div>
              <div class="number">25</div>
              
            </div>
            <i class="bx bx-cart-alt cart"></i>
          </div>
          <div class="box">
            <div class="right-side">
              <div class="box-topic">Total Workers</div>
              <div class="number">20</div>
              
            </div>
            <i class="bx bxs-cart-add cart two"></i>
          </div>
          <div class="box">
            <div class="right-side">
              <div class="box-topic">Pending Projects</div>
              <div class="number">4</div>
              
            </div>
            <i class="bx bx-cart cart three"></i>
          </div>
          <div class="box">
            <div class="right-side">
              <div class="box-topic">Budget</div>
              <div class="number">$5,000</div>
            </div>
            <i class="bx bxs-cart-download cart four"></i>
          </div>
        </div>
        <!-- <div class="sales-boxes">
    <div class="recent-sales box">
        <div class="title">Recent Projects</div>
        <div class="sales-details">
            <ul class="details">
                <li class="topic">Project</li>
                {% for project in projects %}
                <li>{{ project.name }}</li>
                {% endfor %}
            </ul>
             Repeat the same for Client, Status, and Budget 
        </div>
        <div class="button">
            <a href="/project">See All</a>
        </div>
    </div>
</div> -->
        <div class="sales-boxes">
          <div class="recent-sales box">
            <div class="title">Recent Projects</div>
            <div class="sales-details">
              <ul class="details">
                <li class="topic">Project</li>
                <li>Home</li>
                <li>Home</li>
                <li>Home</li>
                <li>Home</li>
                <li>Home</li>
                <li>Home</li>
                <li>Home</li>
                <li>Home</li>
                <li>Home</li>
                <li>Home</li>
              </ul>
              <ul class="details">
                <li class="topic">Client</li>
                <li><a href="#">Alex Doe</a></li>
                <li><a href="#">David Mart</a></li>
                <li><a href="#">Roe Parter</a></li>
                <li><a href="#">Diana Penty</a></li>
                <li><a href="#">Martin Paw</a></li>
                <li><a href="#">Doe Alex</a></li>
                <li><a href="#">Aiana Lexa</a></li>
                <li><a href="#">Rexel Mags</a></li>
                <li><a href="#">Tiana Loths</a></li>
              </ul>
              <ul class="details">
                <li class="topic">Status</li>
                <li><a href="#">Pending</a></li>
                <li><a href="#">Pending</a></li>
                <li><a href="#">Completed</a></li>
                <li><a href="#">Pending</a></li>
                <li><a href="#">Pending</a></li>
                <li><a href="#">Completed</a></li>
                <li><a href="#">Pending</a></li>
                <li><a href="#">Pending</a></li>
                <li><a href="#">Pending</a></li>
              </ul>
              <ul class="details">
                <li class="topic">Budget</li>
                <li><a href="#">$204.98</a></li>
                <li><a href="#">$24.55</a></li>
                <li><a href="#">$25.88</a></li>
                <li><a href="#">$170.66</a></li>
                <li><a href="#">$56.56</a></li>
                <li><a href="#">$44.95</a></li>
                <li><a href="#">$67.33</a></li>
                <li><a href="#">$23.53</a></li>
                <li><a href="#">$46.52</a></li>
              </ul>
            </div>
            <div class="button">
              <a href="/project">See All</a>
            </div>
          </div>
          <!-- <div class="top-sales box">
            <div class="title">Employees</div>
            <ul class="top-sales-details">
                {% for worker in workers %}
                <li>
                    <img src="{% static 'images\engi.jpg' %}"/>
                    <span class="emp">{{ worker.name }}</span>
                    <span class="des">{{ worker.designation }}</span>
                </li>
                {% endfor %}
            </ul>
            <div class="button">
                <a href="/worker">See All</a>
            </div>
        </div> -->
          <div class="top-sales box">
            <div class="title">Employees</div>
            <ul class="top-sales-details">
              <li>
                <a href="#">
                  <img src="{% static 'images\engi.jpg' %}"  />
                  <span class="emp">Saravan</span>
                </a>
                <span class="des">Engineer</span>
              </li>
              <li>
                <a href="#">
                  <img src="{% static 'images\man.jpg' %}"/>
                  <span class="emp">surya</span>
                </a>
                <span class="des">Manager</span>
              </li>
              <li>
                <a href="#">
                  <img src="{% static 'images\sup.jpg' %}" />
                  <span class="emp">Raja</span>
                </a>
                <span class="des">Super Visor</span>
              </li>
              <li>
                <a href="#">
                  <img src="{% static 'images\mas.jpg' %}"  />
                  <span class="emp">Rajesh</span>
                </a>
                <span class="des">Mason</span>
              </li>
              <li>
                <a href="#">
                  <img src="{% static 'images\help.jpg' %}" />
                  <span class="emp">Kumar</span>
                </a>
                <span class="des">Helper</span>
              </li>
              <li>
                <a href="#">
                  <img src="{% static 'images\paint.jpg' %}"/>
                  <span class="emp">Ramesh</span>
                </a>
                <span class="des">Painter</span>
              </li>
              <li>
                <a href="#">
                  <img src="{% static 'images\car.jpg' %}"/>
                  <span class="emp">Ganesh</span>
                </a>
                <span class="des">Carpenter</span>
              </li>
            </ul>
            <div class="button">
              <a href="/worker">See All</a>
            </div>
          </div> 
        </div>
      </div>
    </section>
    <script src="{% static 'js\admin.js' %}"></script> 
  </body>
</html>
