{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>User Ratings</title>
<link rel="stylesheet" href="{% static 'css/adminfeedback.css' %}">
<link rel="stylesheet" href="{% static 'css/admin.css' %}" />
<link href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css" rel="stylesheet" />
</head>
<body>
    <div class="sidebar">
        <div class="logo-details"> 
          <i class="bx bx-user"></i> 
          <span class="logo_name">Naachiyar</span>
        </div>    
        <ul class="nav-links">
          <li>
            <a href="#" class="active">
              <i class="bx bx-grid-alt"></i>
              <span class="links_name">Dashboard</span>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="bx bx-id-card"></i>
              <span class="links_name">Attendance</span>
            </a>
          </li>
          <li>
            <a href="/worker">
              <i class="bx bx-group"></i>
              <span class="links_name">Workers</span>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="bx bx-dollar-circle"></i>
              <span class="links_name">Salary</span>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="bx bx-task"></i>
              <span class="links_name">Projects</span>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="bx bx-user-plus"></i>
  
              <span class="links_name">Hiering</span>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="bx bx-cart"></i>
              <span class="links_name">Stocks</span>
            </a>
          </li>
          <li>
            <a href="/adminquote">
              <i class="bx bx-message-rounded-detail"></i>
              <span class="links_name">Quote</span>
            </a>
          </li>
          
          <li>
            <a href="/adminfeedback">
              <i class="bx bx-message"></i>
              <span class="links_name">Feedback</span>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="bx bx-building-house"></i>
              <span class="links_name">Blue Print</span>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="bx bx-palette"></i>
              <span class="links_name">Design</span>
            </a>
          </li>
          <li class="log_out">
            <a href="#">
              <i class="bx bx-log-out"></i>
              <span class="links_name">Log out</span>
            </a>
          </li>
        </ul>
      </div>
      <section class="home-section">
        <nav>
          <div class="sidebar-button">
            <i class="bx bx-menu sidebarBtn"></i>
            <span class="dashboard">Dashboard</span>
          </div>
          <div class="search-box">
            <input type="text" placeholder="Search..." />
            <i class="bx bx-search"></i>
          </div>
          <div class="profile-details">
            <img src="{% static 'images\profile.jpg' %}" />
            <span class="admin_name">Md Ashfaq </span>
            
          </div>
        </nav>
    <div class="container">
        <h2 align="center">User Ratings</h2>
        <div class="table">
        <table align="center">
            <thead>
                <tr>
                    
                    <th>Name</th>
                    <th>Email</th>
                    <th>Age</th>
                    <th>Mobile</th>
                    <th>Message</th>
                    <th>Ratings</th>
                </tr>
            </thead>
            <tbody>
                {% for fb in feedback %}
                <tr>
                    
                    <td>{{ fb.Name }}</td>
                    <td>{{ fb.Email }}</td>
                    <td>{{ fb.Age }}</td>
                    <td>{{ fb.Phone}}</td>
                    <td>{{ fb.Message}}</td>
                    <td>{{ fb.Rate}}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        </div>
    </div>
        <script>
            let sidebar = document.querySelector(".sidebar");
            let sidebarBtn = document.querySelector(".sidebarBtn");
            sidebarBtn.onclick = function () {
            sidebar.classList.toggle("active");
            if (sidebar.classList.contains("active")) {
                sidebarBtn.classList.replace("bx-menu", "bx-menu-alt-right");
            } else sidebarBtn.classList.replace("bx-menu-alt-right", "bx-menu");
            };
        </script>
</body>
</html>
