{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Services</title>
    <link rel="stylesheet" href="{% static 'css\sdetails.css' %}">
</head>
<body>
    <div class="container">
        <img width="600px" height="500px" src="{% static 'images\fctry.jpg' %}" alt="Logo">
            
            <table > 
                <tr class="heading">
                    <td colspan="3"> Factory Constructions Service<br>
                    $2,300 Squre feet</td>
                </tr>
                <tr >
                    <td>We Can Deliver</td>
                    <th>Commercial Projects</th>
                </tr>
                <tr >
                    <td>Type of Construction Structure</td>
                    <th>Concrete Frame Structures</th>
                </tr>
                <tr>
                    <td>Material</td>
                    <th>Bricks</th>
                </tr>
                <tr>
                    <td>Usage/Application</td>
                    <th>Framhouse</th>
                </tr>
                <tr>
                    <td>We Also Installs</td>
                    <th>Waterproofing System</th>
                </tr>
                <tr>
                    <td>Location Type</td>
                    <th>Commercial</th>
                </tr>
               
               <!--  <tr>
                    <th colspan="4"><button type="button">Get Latest Price</button></th>
                
                </tr> -->
                
            </table>
            
    </div>

    <div class="btn">
        <a href="/quote">
            <button type="button">Get Latest Price<br>Request for quote...</button>
        </a>
    </div>
    
</body>
</html>