{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/feedback.css' %}" />
</head>
<body>
    <div class="wrap">
        <table>
            <form action=""method="POST">
                {% csrf_token%}
                <h1>Feedback form</h1>
                <tr>
                    <td colspan="2">
                        <label>How do you rate your overall expericence</label><br/>
                        <input type="radio" name="Rate" value="good">Good
                        <input type="radio" name="Rate" value="average">Average
                        <input type="radio" name="Rate" value="bad">Bad
                    </td>
                </tr>
            <tr>
                <td>
                    <label>FullName*</label>
                    <br/>
                    <input type="text" name="Name" class="txt">
                 </td>
                <td>
                    <label>Email*</label>
                    <br/>
                    <input type="email" name="Email" class="txt"></td>
                </tr>

                <tr>
                    <td>
                        <label>Age*</label>
                        <br/>
                        <input type="age" name="Age" class="txt">
                     </td>
                    <td>
                        <label>phone*</label>
                        <br/>
                        <input type="phone" name="Phone" class="txt">
                    </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <label>Message*</label>
                            <br/>
                            <textarea class="textarea" name="Message"></textarea>

                        </td>
                    </tr>
                    <tr>
                        <td colspan="2"><button type="submit" class="btn">Submit</button></td>
                    </tr>

            </form>
        </table>
    </div>
</body>
</html>