{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hiering</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"> 
    <link rel="stylesheet" href="{% static 'css/adminnav.css' %}" />
    <link href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="sidebar">
        <div class="logo-details"> 
          <i class="bx bx-user"></i> 
          <span class="logo_name">Naachiyar</span>
        </div>    
        <ul class="nav-links">
          <li>
            <a href="#" class="active">
              <i class="bx bx-grid-alt"></i>
              <span class="links_name">Dashboard</span>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="bx bx-id-card"></i>
              <span class="links_name">Attendance</span>
            </a>
          </li>
          <li>
            <a href="/worker">
              <i class="bx bx-group"></i>
              <span class="links_name">Workers</span>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="bx bx-dollar-circle"></i>
              <span class="links_name">Salary</span>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="bx bx-task"></i>
              <span class="links_name">Projects</span>
            </a>
          </li>
          <li>
            <a href="/hiering">
              <i class="bx bx-user-plus"></i>
  
              <span class="links_name">Hiering</span>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="bx bx-cart"></i>
              <span class="links_name">Stocks</span>
            </a>
          </li>
          <li>
            <a href="/adminquote">
              <i class="bx bx-message-rounded-detail"></i>
              <span class="links_name">Quote</span>
            </a>
          </li>
          
          <li>
            <a href="/adminfeedback">
              <i class="bx bx-message"></i>
              <span class="links_name">Feedback</span>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="bx bx-building-house"></i>
              <span class="links_name">Blue Print</span>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="bx bx-palette"></i>
              <span class="links_name">Design</span>
            </a>
          </li>
          <li class="log_out">
            <a href="#">
              <i class="bx bx-log-out"></i>
              <span class="links_name">Log out</span>
            </a>
          </li>
        </ul>
      </div>
      <section class="home-section">
        <nav>
          <div class="sidebar-button">
            <i class="bx bx-menu sidebarBtn"></i>
            <span class="dashboard">Dashboard</span>
          </div>
          <div class="search-box">
            <input type="text" placeholder="Search..." />
            <i class="bx bx-search"></i>
          </div>
          <div class="profile-details">
            <img src="{% static 'images\profile.jpg' %}" />
            <span class="admin_name">Md Ashfaq </span>
            
          </div>
        </nav>
  <div class="container">
    <h2 align="center">Job Applictions</h2>
    <!-- Table to display project details -->
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
        <tr>
          <th>Name</th>
          <th>Age</th>
          <th>Email</th>
          <th>mobile</th>
          <th>Role</th>
          <th>Experiance</th>
          <th>City</th>
          <th>Pin Code</th>
          <th>Date</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        {% for j in job %}
        <tr>
          <td>{{ j.name }}</td>
          <td>{{ j.age }}</td>
          <td>{{ j.email }}</td>
          <td>{{ j.mobile }}</td>
          <td>{{ j.role }}</td>
          <td>{{ j.experiance }}</td>
          <td>{{ j.city }}</td>
          <td>{{ j.pincode }}</td>
          <td>{{ j.date }}</td>
          <td>
            <button class="btn btn-success accept-btn"><i class="fas fa-check"></i></button>
            <button class="btn btn-danger reject-btn"><i class="fas fa-times"></i></button>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <script src="{% static 'js\admin.js' %}"></script> 
  </body>
  </html>