{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NC</title>
    <link rel="stylesheet" href="{% static 'css\index.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"/>
    
</head>
<body>
    <div class="banner" id="Home">
    <header class="header">
        <a href="" id="logo">
            <img src="{% static 'images\logo1.png' %}" alt="Logo">
        </a>
        <navbar class="nav">
            <a href=""><i class="fas fa-home"></i> HOME</a>
            <a href="#About"><i class="fas fa-info-circle"></i> ABOUT US</a>
            <a href="#Services"><i class="fas fa-cogs"></i> SERVICES</a>
            <a href="/projects"><i class="fas fa-folder"></i> PROJECTS</a>
            <a href="/contact"><i class="fas fa-envelope"></i> CONTACT US</a>
            <a href="/job"><i class="fas fa-briefcase"></i> GET A JOB</a>
        </navbar>        
        <div class="icon-header">
            <div id="menu-bar" class="fas fa-bars"></div>
            <div id="search-bar" class="fas fa-search"></div>
        </div>
        <div class="search-form">
            <input type="search" id="search-form" placeholder="search here">
        </div>
    </header>
    
    <div class="content">
        <h1 ><span class="animate-charcter">Naachiyar</span> Construction</h1>
        <p><b>"WE BUILD YOUR DREAM"</b></p>
        <p></p>
            <a href="/login"><button type="button" class="quote">Get a Quote</button></a>
    </div>
    </div>
    <div class="Welcome" id="About">
        <div class="main-welcome">
            <div class="inner-welcome">
                <div class="welcome-text">
                    <h1>Welcome to<br> Naachiyar Construction</h1>
                    <p>Naachiyar Construction is a Civil contracts company<br> offering construction, architecture, interior decoration  <br>and other housing and home improvement services<br> to various clients all over Tamil Nadu.
                    <br>At Naachiyar Construction we use only top-quality <br>materialsand employ skilled, experienced workers <br>to ensure the utmost excellence in every project.<br> Our commitment to quality craftsmanship sets<br> us apart and guarantees satisfaction for our clients.</p>
                </div>
            </div>
            <div class="img">
                <img src="{% static 'images\cement1.jpeg' %}" alt="">
                <img src="{% static 'images\cement2.jpeg' %}" alt=""><br>
                <img src="{% static 'images\steel2.png' %}" alt="">
                <img src="{% static 'images\steel1.png' %}" alt="">
                

            </div>
        </div>
    </div>
    <div class="container" id="Services">
        <div class="row g-3">
            <div class="col-3">
                <div class="card">
                    
                    <img src="{% static 'images\church.jpeg' %}" alt="the first" class="card-img">
                    <div class="text">
                        <a href="/church" style="display: inline-block;"><h1>CHURCH</h1>
                            <p>Click here to know the details.</p>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title2">CHURCH</h5></a>
                        </div>
            </div>
    
        </div>
        <div class="col-3">
            <div class="card">
                    <img class="image" src="{% static 'images\temple.jpeg' %}" alt="the first" style="max-width: 100%; height: auto;" class="card-img">
                    <div class="text">
                        <a href="/temple" style="display: inline-block;"><h1>TEMPLE</h1>
                        <p>Click here to know the details.</p>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title2">TEMPLE</h5></a>
                    </div>
            </div>
        </div>
        
            <div class="col-3">
                <div class="card">
                    
                    <img class="image" src="{% static 'images\masuthi.jpeg' %}" alt="the first" class="card-img">
                    <div class="text">
                        <a href="/mosque" style="display: inline-block;"><h1>MOSQUE</h1>
                            <p>Click here to know the details.</p>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title2">MOSQUE</h5></a>  
                </div>
               
            </div>
            </div>
            <div class="col-3">
                <div class="card">
                    
                    <img class="image" src="{% static 'images\school1.jpeg' %}" alt="the first" class="card-img">
                    <div class="text">
                        <a href="/school" style="display: inline-block;"><h1>SCHOOL</h1>
                            <p>Click here to know the details.</p>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title2">SCHOOL</h5></a>
                        
                </div>
            
            </div>
            </div>
            <div class="col-3">
                <div class="card">
                    
                    <img class="image" src="{% static 'images\office.jpeg' %}" alt="the first" class="card-img">
                    <div class="text">
                        <a href="/office" style="display: inline-block;"><h1>OFFICE</h1>
                            <p>Click here to know the details.</p>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title2">OFFICE</h5></a>
                        
                </div>
            
            </div>
            </div>
            <div class="col-3">
                <div class="card">
                    <a href="/hospital" style="display: inline-block;">
                        <img width="248px" class="image" src="{% static 'images\hsptl.jpeg' %}" alt="the first" class="card-img">
                    <div class="text">
                        <a href="/hospital" style="display: inline-block;"><h1>HOSPITAL</h1>
                            <p>Click here to know the details.</p>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title2">HOSPITAL</h5></a>
                </div>
            </a>
            </div>
            </div>
            <div class="col-3">
                <div class="card">
                    
                        <img width="248px" height="175px" class="image" src="{% static 'images\mall.jpg' %}" alt="the first" class="card-img">
                    <div class="text">
                        <a href="/mall" style="display: inline-block;"><h1>SHOPPING MALL</h1>
                            <p>Click here to know the details.</p>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title2">SHOPPING MALL</h5></a>
                        
                </div>
            
            </div>
            </div>
            <div class="col-3">
                <div class="card">
                    
                    <img class="image" src="{% static 'images\factory.jpeg' %}" alt="the first" class="card-img">
                    <div class="text">
                        <a href="/factory" style="display: inline-block;"><h1>FACTORY</h1>
                            <p>Click here to know the details.</p>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title2">FACTORY</h5></a>
                       
                </div>
            
            </div>
            </div>
        </div>
    </div> 
    {% include 'footer.html' %}
    <script src="{% static 'js\index.js' %}"></script>
</body>
</html>