{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/projects.css' %}">
</head>
<body>
    <div class="lists">
    <div class="container">
        <div class="card" style="--clr:#009688">
            <div class="imgbx">
                <img src="{% static 'images\img6.jpeg' %}">
            </div>
            <div class="content">
                <h2>MODELS</h2>
                <p>Construction is a general term meaning the art and science of forming objects, systems, or organizations. 
                    It comes from the Latin word constructio and Old French construction. 
                    To 'construct' is a verb</p>
                    <a href="#">Read More</a>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="card" style="--clr:#ff3e7f">
            <div class="imgbx">
                <img src="{% static 'images\img6.jpeg' %}">
            </div>
            <div class="content">
                <h2>MODELS</h2>
                <p>Construction is a general term meaning the art and science of forming objects, systems, or organizations. 
                    It comes from the Latin word constructio and Old French construction. 
                    To 'construct' is a verb</p>
                    <a href="#">Read More</a>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="card" style="--clr:#03a9f4">
            <div class="imgbx">
                <img src="{% static 'images\img6.jpeg' %}">
            </div>
            <div class="content">
                <h2>MODELS</h2>
                <p>Construction is a general term meaning the art and science of forming objects, systems, or organizations. 
                    It comes from the Latin word constructio and Old French construction. 
                    To 'construct' is a verb</p>
                    <a href="#">Read More</a>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="card" style="--clr:#03a9f4">
            <div class="imgbx">
                <img src="{% static 'images\img6.jpeg' %}">
            </div>
            <div class="content">
                <h2>MODELS</h2>
                <p>Construction is a general term meaning the art and science of forming objects, systems, or organizations. 
                    It comes from the Latin word constructio and Old French construction. 
                    To 'construct' is a verb</p>
                    <a href="#">Read More</a>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="card" style="--clr:#03a9f4">
            <div class="imgbx">
                <img src="{% static 'images\img6.jpeg' %}">
            </div>
            <div class="content">
                <h2>MODELS</h2>
                <p>Construction is a general term meaning the art and science of forming objects, systems, or organizations. 
                    It comes from the Latin word constructio and Old French construction. 
                    To 'construct' is a verb</p>
                    <a href="#">Read More</a>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="card" style="--clr:#03a9f4">
            <div class="imgbx">
                <img src="{% static 'images\img6.jpeg' %}">
            </div>
            <div class="content">
                <h2>MODELS</h2>
                <p>Construction is a general term meaning the art and science of forming objects, systems, or organizations. 
                    It comes from the Latin word constructio and Old French construction. 
                    To 'construct' is a verb</p>
                    <a href="#">Read More</a>
            </div>
        </div>
    </div>
</div>

    
    
</body>
</html>