{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quote Application</title>
    <link rel="stylesheet" href="{% static 'css/quote.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"/>
</head>

<body>
    <div class="banner" id="Home">
    
        <header class="header">
        <a href="/" id="logo">
            <img src="{% static 'images\logo1.png' %}" alt="Logo">
        </a>
        <navbar class="nav">
            <a href="/"><i class="fas fa-home"></i> HOME</a>
            <a href="/projects"><i class="fas fa-folder"></i> PROJECTS</a>
            <a href="/contact"><i class="fas fa-envelope"></i> CONTACT US</a>
            <a href="/job"><i class="fas fa-briefcase"></i> GET A JOB</a>
            
        </navbar>        
        <div class="icon-header">
            <div id="menu-bar" class="fas fa-bars"></div>
            <div id="search-bar" class="fas fa-search"></div>
        </div>
        <div class="search-form">
            <input type="search" id="search-form" placeholder="search here">
        </div>
    </header>
    </div>
    
    <div class="container">
        <h2>Fill This Form for The Best Quote</h2>
        <form id="constructionForm" action="" method="POST">
            {% csrf_token%}
            <div class="input-con">
            <div class="form-group">
                <input type="text" id="name" name="name" placeholder="Full Name" required>
            </div>
            <div class="form-group">
                <input type="email" id="email" name="email" placeholder="Email" required>
            </div>
            <div class="form-group">
                <input type="tel" id="phone" name="phone" placeholder="Phone" required>
            </div>
            <div class="form-group">
                <textarea id="project" name="description" placeholder="Project Description" rows="4" required></textarea>
            </div>
            <div class="form-group">
                <input type="number" id="budget" name="budget" placeholder="Budget" required>
            </div>
            <div class="form-group">
                <label>Expected Start Date</label>
                <input type="date" id="start-date" name="s_date" placeholder="Expected Start Date" required>
            </div>
            <div class="form-group">
                <label>Expected End Date</label>
                <input type="date" id="end-date" name="e_date" placeholder="Expected End Date" required>
            </div>
            <div class="form-group">
                <input type="text" id="location" name="location" placeholder="Project Location" required>
            </div>
            <div class="button">
                <button type="submit" class="btn">Submit</button>
            </div>
            </div>
            
        </form>
    </div>
</body>

</html>
