body{
    background-color:rgb(181, 203, 220);
}

.container-fluid{
    max-width: 900px;
    margin: 0px auto;
    padding-left: 100px;
    padding-top:20px;
   align-content: center;
}
.apply-box{
    max-width: 500px;
    padding: 50px;
    margin: 0px auto;
    margin-top: 100px;
    border: 5px solid black;
    background:#0A2258;
    box-shadow: 0 30px 100px rgba(7, 0, 0, 0.1);
    transform: scale(0.85) translateY(-55px);
    border-radius: 50px;
}
.container{
    padding: 100px;
    padding-left: 600px;
    box-shadow: 0 10px 50px rgba(7, 0, 0, 0.1);
    background:#0A2258;
    max-width: 350px;
    padding-left: 200px;
    border-radius: 50px;
    
    margin-left: 400px;
    
}
h1{
    color:#f18930;
    padding-left: 70px;
}
input{
    align-content:flex-end;
    padding-left: 100px;
    padding-top: 10px;
    margin-top: 20px;
    
}
.btn{
    background-color: #f18930;
    border: transparent solid 2px;
    color: white;
    border-radius:10px;
    width: 100px; 
    height: 40px; 
    padding: 10px 20px; 
    font-size: 18px;
    margin-top: 30px;
    margin-left: 100px;
    
}
/* .container-fluid {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.form-container {
    max-width: 400px;
    width: 100%;
}

.form-header {
    text-align: center;
    margin-bottom: 20px;
} */
label{
    color:white;
    display: flex;
}