body {
    font-family: Arial, sans-serif;
    background-color: #c9c8c6;
    margin: 0;
    padding: 20px;
    display: grid;
    place-content: center;
    min-height: 100dvh;
    overflow: hidden;
}
.header{
    padding: 20px;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background:#0A2558;
    height: 70px;
    z-index: 999;    
}
#logo img {
    width: 130px; /* Adjust the width of the logo */
    height: auto;  
}
.nav{
    margin-left: 400px;
    

}
.nav a{
    color: rgb(250, 247, 247);
    font-size: 20px;
    margin-left: 30px;
    text-decoration: none;
}
.nav a:hover{
color: #f18930;
}
.icon-header div{
    color: rgb(255, 253, 253);
    margin-left: 10px;
    font-size: 20px;
    cursor: pointer;
}
.icon-header div:hover{
    color: #f18930;
}
#menu-bar{
    display: none;
}
.nav.active{
    top: 100%;
}
.search-form{
    width: 40%;
    position: absolute;
    top:-110%;
    right: 2rem;
}

.search-form input{
    width: 100%;
    padding: 1rem;
    border-radius: 14px;
    border: 1px solid rgb(249, 249, 249);
    box-shadow: rgba(0,0,0,0.24) 0px 3px 8px;
}
.search-form.active{
    top: 110%;
}


.container {
    width: 800px;
    height: 600px;
    padding: 100px;
    background-color: #0A2258;
    border-radius: 10px;
    transform: scale(0.8) translateY(45px);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.input-con{
    width: 520px;
    position: relative;
    top: -60px;
}

h2 {
    color: #f18930;
    position: relative;
    top: -70px;
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
    width:100%;
}

label {
    font-weight: bold;
    color: #f18930;
    margin-bottom: 5px; 
}


input[type="text"],
input[type="email"],
input[type="tel"],
input[type="number"],
textarea,
input[type="date"] {
    width: 150%;
    padding: 14px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom :8px;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: #f18930;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
}
.btn{
background-color: #f18930;
height: 40px;
width: 100px;
border-radius: 5px;
}
.button{
    display: flex;
    justify-content: center;
    width:154%;
}

input[type="submit"]:hover {
    background-color: #45a049;
}
