{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Admin Quote</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="{% static 'css/adminfeedback.css' %}">
<link href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css" rel="stylesheet" />
</head>
<body>
  {% include 'nc/inc/admin.html' %}
        <div class="container">
        <h2 align="center">Quotes</h2>
        <table class="table table-bordered table-striped">
          <thead class="thead-dark">
            <tr>
              <th>Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Description</th>
                    <th>Budget</th>
                    <th>Starting Date</th>
                    <th>Ending Date</th>
                    <th>Location</th>
            </tr>
          </thead>
          <tbody>
            {% for q in quote %}
                <tr>
                    <td>{{ q.name }}</td>
                    <td>{{ q.email }}</td>
                    <td>{{ q.phone}}</td>
                    <td>{{ q.description }}</td>
                    <td>{{ q.budget}}</td>
                    <td>{{ q.s_date}}</td>
                    <td>{{ q.e_date}}</td>
                    <td>{{ q.location}}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>
<script src="{% static 'js\admin.js' %}"></script> 
</body>
</html>
