{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>User Ratings</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css" rel="stylesheet" />
</head>
<body>
  {% include 'nc/inc/dashboard.html' %}
    <div class="container">
        <h2 align="center">User Ratings</h2>
        <table class="table table-bordered table-striped">
          <thead class="thead-dark">
            <tr>
              <th>Name</th>
              <th>Email</th>
              <th>Age</th>
              <th>Mobile</th>
              <th>Message</th>
              <th>Ratings</th>
            </tr>
          </thead>
          <tbody>
            {% for fb in feedback %}
            <tr>
                
                <td>{{ fb.Name }}</td>
                <td>{{ fb.Email }}</td>
                <td>{{ fb.Age }}</td>
                <td>{{ fb.Phone}}</td>
                <td>{{ fb.Message}}</td>
                <td>{{ fb.Rate}}</td>
            </tr>
        {% endfor %}
        </tbody>
        </table>
        </div>
    <script src="{% static 'js\admin.js' %}"></script> 
</body>
</html>
