{% include 'nc/inc/navbar.html' %}
{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {% block title %}
        NC | Job
        {% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'css/job.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"/>

</head>
<body>
    <div class="job-container">
        <div class="apply-box">
            <h1>Job Application</h1>
            <form method="POST">
                {% csrf_token%}
                <div class="from-container">
                    <div class="form-conrol">
                        <input type="text" id="first-name " name="name" placeholder="Enter name">

                    </div>
                    <div class="form-conrol">
                        <input type="text" id="first-name " name="age" placeholder="Enter Age">

                    </div>
                    <div class="form-conrol">
                        <input type="text" id="first-name " name="email" placeholder="Enter Email">

                    </div>
                    <div class="form-conrol">
                        <input type="text" id="first-name " name="mobile" placeholder="Enter Mobile No">

                    </div>
                    <div class="form-conrol">
                        
                        <select class="select" name="role" id="jobe-role">
                            <option value="" disabled selected>Select Job Role</option>
                            <option value="builder">Engineer</option>
                            <option value="builder">Super Visor</option>
                            <option value="builder">Mason</option>
                            <option value="builder">Carpentor</option>
                            <option value="builder">Electrician</option>
                            <option value="builder">Plumber</option>
                            <option value="builder">Helper</option>
                        </select>
                    </div>
                    <div class="form-conrol">
                        
                        <input type="text" id="first-name " name="experience" placeholder="Experience">

                    </div>
                    <div class="form-conrol">
                        
                        <input type="text" id="first-name " name="city" placeholder="Enter City">

                    </div>
                    <div class="form-conrol">
                        
                        <input type="text" id="first-name " name="pincode" placeholder="Pincode">

                    </div>
                    <div class="form-conrol">
                        <label for="apply-date">Registration Date</label>
                        <input type="date" id="apply-date" name="date" value="2024-10-1026">

                    </div>
                    <div class="button-container">
                        <button type="submit">Apply Now</button>
                    </div>

                </div>

            </form>
        </div>
    </div>
    {% include 'nc/inc/footer.html' %}
</body>
</html> 
