<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/service.css">
</head>
<body>
    <div class="container">
        <div class="cards">
            <img src="/static/images/home1.jpeg" class="img">
            <!-- <h3 class="heading">HOME</h3> -->
            <h3 class="sq">₹ 950/ sq ft<br></h3>
            <p class="main">
                Type Of Services	:<span>House Exterior<br> Designing Service<br></span>
                Service Location/City	:<span>Pan India<br></span>
                Interior Designs/Styles	:<span>Modern<br></span>
                Payment Mode	:<span>Offline, Online<br></span>
                Service Mode	:<span>Offline</span>
        </p>
        <button type="button" class="btn">Click</button>
        </div>
        <div class="cards">
            <img src="/static/images/home2.jpeg" class="img">
            <!-- <h3 class="heading">HOME</h3> -->
            <h3 class="sq">₹ 950/ sq ft<br></h3>
                <p class="main">
                    Type Of Services	:<span>House Exterior<br> Designing Service<br></span>
                    Service Location/City	:<span>Pan India<br></span>
                    Interior Designs/Styles	:<span>Modern<br></span>
                    Payment Mode	:<span>Offline, Online<br></span>
                    Service Mode	:<span>Offline</span>
            </p>
            <button type="button" class="btn">Click</button>
        </div>
        <div class="cards">
            <img src="/static/images/home3.jpeg" class="img">
  <!--           <h3 class="heading">HOME</h3> -->
                <h3 class="sq">₹ 950/ sq ft<br></h3>
                <p class="main">
                    Type Of Services	:<span>House Exterior<br> Designing Service<br></span>
                    Service Location/City	:<span>Pan India<br></span>
                    Interior Designs/Styles	:<span>Modern<br></span>
                    Payment Mode	:<span>Offline, Online<br></span>
                    Service Mode	:<span>Offline</span>
            </p>
            <button type="button" class="btn">Click</button>
        </div>
        <div class="cards">
            <img src="/static/images/home4.jpeg" class="img">
            <!-- <h3 class="heading">HOME</h3> -->
            <h3 class="sq">₹ 950/ sq ft</h3>
                <p class="main">
                    Type Of Services	:<span>House Exterior<br> Designing Service<br></span>
                    Service Location/City	:<span>Pan India<br></span>
                    Interior Designs/Styles	:<span>Modern<br></span>
                    Payment Mode	:<span>Offline, Online<br></span>
                    Service Mode	:<span>Offline</span>
            </p>
            <button type="button" class="btn">Click</button>
        </div>
        
        <div class="cards">
            <img src="/static/images/home16.jpeg" class="img">
          <!--   <h3 class="heading">HOME</h3> -->
            <h3 class="sq">₹ 950/ sq ft</h3>
                <p class="main">
                    Type Of Services	:<span>House Exterior<br> Designing Service<br></span>
                    Service Location/City	:<span>Pan India<br></span>
                    Interior Designs/Styles	:<span>Modern<br></span>
                    Payment Mode	:<span>Offline, Online<br></span>
                    Service Mode	:<span>Offline</span>
            </p>
            <button type="button" class="btn">Click</button>
        </div>
        <div class="cards">
            <img src="/static/images/home17.jpeg" class="img">
            <!-- <h3 class="heading">HOME</h3> -->
            <h3 class="sq">₹ 950/ sq ft</h3>
                <p class="main">
                    Type Of Services	:<span>House Exterior<br> Designing Service<br></span>
                    Service Location/City	:<span>Pan India<br></span>
                    Interior Designs/Styles	:<span>Modern<br></span>
                    Payment Mode	:<span>Offline, Online<br></span>
                    Service Mode	:<span>Offline</span>
            </p>
            <button type="button" class="btn">Click</button>
        </div>
        <div class="cards">
            <img src="/static/images/home11.jpeg" class="img">
            <!-- <h3 class="heading">HOME</h3> -->
            <h3 class="sq">₹ 950/ sq ft</h3>
                <p class="main">
                    Type Of Services	:<span>House Exterior<br> Designing Service<br></span>
                    Service Location/City	:<span>Pan India<br></span>
                    Interior Designs/Styles	:<span>Modern<br></span>
                    Payment Mode	:<span>Offline, Online<br></span>
                    Service Mode	:<span>Offline</span>
            </p>
            <button type="button" class="btn">Click</button>
        </div>
        <div class="cards">
            <img src="/static/images/home12.jpeg" class="img">
           <!--  <h3 class="heading">HOME</h3> -->
            <h3 class="sq">₹ 950/ sq ft</h3>
                <p class="main">
                Type Of Services	:<span>House Exterior<br> Designing Service<br></span>
                Service Location/City	:<span>Pan India<br></span>
                Interior Designs/Styles	:<span>Modern<br></span>
                Payment Mode	:<span>Offline, Online<br></span>
                Service Mode	:<span>Offline</span>
            </p>
            <button type="button" class="btn">Click</button>
        </div>
        
        
        
    </div>
</body>
</html>